<!DOCTYPE html>
<html lang="en">
<head>
  <title> LA Crime Data Visualization</title>
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Chart library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Link to CSS file -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    body {
      text-align: center; 
    }
    .main-title {
      margin-top: 50px; 
    }
    .chart-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .chart-container > div {
      width: 25%;
      margin-bottom: 20px;
    }
  </style>
</head>
 <body>
  <h1>Pie Chart Visualization</h1>

  <div class="chart-container">
    <div>
      <h2>Crime Reports by Status</h2>
      <canvas id="pie-crime-status"></canvas>
    </div>
    <div>
      <h2>Crime Reports by Gender</h2> 
      <canvas id="pie-crime-gender"></canvas>
    </div>
    <div>
      <h2>Crime Reports by Age</h2>
      <canvas id="pie-crime-age"></canvas>
    </div>
    <div>
      <h2>Crime Reports by Descent</h2>
      <canvas id="pie-crime-descent"></canvas>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/pie.js') }}"></script>

 </body>
</html>