<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Trend Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md-9">
                    <h1>Monthly Crime Comparison Graph</h1>
                    <div id="LineChart"></div>
                </div>

                <div class="col">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-md-9">
                    <h1>Hourly Crime Patterns</h1>
                    <canvas id="RadarChart"></canvas>
                </div>

                <div class="col">

                </div>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/timeseries.js') }}"></script>
</body>

</html>